@import "tailwindcss";

:root {
      --primary-color: #c7101a;
      --secondary-color: #d64c13;
      --accent-color: #f3c202;
      --black: #111110;
      --white: #eeeeee;
}
.background-primary {
      background-color: var(--primary-color);
}
